<br>
<br>
<br>
<div>
<p>
¿Cómo valoraría la atención y asesoramiento recibido durante su visita?
</p>

<
  <div class="box">
  <table class="table table-borderless">
    <tbody>
      <tr>
  
          <td><img class="card-img-top" src="../assets/img/1.png" alt="Card image cap"></td>
          <td><img class="card-img-top" src="../assets/img/2.png" alt="Card image cap"></td>
          <td><img class="card-img-top" src="../assets/img/3.png" alt="Card image cap"></td>
          <td><img class="card-img-top" src="../assets/img/4.png" alt="Card image cap"></td>
          <td><img class="card-img-top" src="../assets/img/5.png" alt="Card image cap"></td>
      </tr>
      <tr>
  
          <td>
              <div class="form-check form-check-inline">
               <label class="form-check-label" for="inlineRadio2">{{ lb_uno }}</label>&nbsp;
               <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="seleccionar()" value="p31">
             </div>
           </td>
      
            <td>
              <div class="form-check form-check-inline">
               <label class="form-check-label" for="inlineRadio2">{{ lb_dos }}</label>&nbsp;
               <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="seleccionar()" value="p32">
             </div>
           </td>
      
           <td>
             <div class="form-check form-check-inline">
              <label class="form-check-label" for="inlineRadio2">{{ lb_tres }}</label>&nbsp;
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="seleccionar()" value="p33">
            </div>
          </td>
      
           <td>
             <div class="form-check form-check-inline">
              <label class="form-check-label" for="inlineRadio2">{{ lb_cuatro }}</label>&nbsp;
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="seleccionar()" value="p34">
            </div>
          </td>
      
      
               <td>
                 <div class="form-check form-check-inline">
                  <label class="form-check-label" for="inlineRadio2">{{ lb_cinco }}</label>&nbsp;
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="seleccionar()" value="p35">
                </div>
              </td>
  
      </tr>
  
    </tbody>
  
  </table>
  </div>
  </div>