<br>
<br>
<br>
<div>
<p>
¿Considera que el asesor se preocupo más por proporcionarle ayuda de acuerdo a sus necesidades que en simplemente vender?
</p>


<!---- start table ----->

<div class="box">
<table class="table table-borderless">
  <tbody>
    <tr>

      <td><img class="card-img-top" src="../assets/img/si.png" alt="Card image cap"></td>
      <td><img class="card-img-top" src="../assets/img/no.png" alt="Card image cap"></td>
    </tr>
    <tr>

      <td>
        <div class="form-check form-check-inline">
         <label class="form-check-label" for="inlineRadio2">{{ lb_feliz }}</label>&nbsp;
         <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="seleccionar()" value="p6s" >
       </div>
     </td>

      <td>
        <div class="form-check form-check-inline">
         <label class="form-check-label" for="inlineRadio2">{{ lb_triste }}</label>&nbsp;
         <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="seleccionar()" value="p6n">
       </div>
     </td>

    </tr>

  </tbody>

</table>
</div>
</div>