<br>
<br>
<br>
<div>
<p>
¿Recuerda el nombre del asesor que le atendió?
</p>


<!---- start table ----->
<div class="box">
<table class="table table-borderless">
  <tbody>
    <tr>

      <td><img class="card-img-top" src="../assets/img/si.png" alt="Card image cap"></td>
      <td><img class="card-img-top" src="../assets/img/no.png" alt="Card image cap"></td>
    </tr>
    <tr>

      <td>
        <div class="form-check form-check-inline">
         <label class="form-check-label" for="inlineRadio2">{{ lb_si }}</label>&nbsp;
         <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="seleccionar()" value="p1s" >
       </div>
     </td>

      <td>
        <div class="form-check form-check-inline">
         <label class="form-check-label" for="inlineRadio2">{{ lb_no }}</label>&nbsp;
         <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="seleccionar()" value="p1n">
       </div>
     </td>

    </tr>

  </tbody>

</table>
</div>
</div>
<!---finish table--->
