<br>
<br>
<br>
<div>
<p>
¿El asesor de ventas le proporcionó de manera clara toda la información que solicitó?
</p>

<!---- start table ----->

<div class="box">
    <table class="table table-borderless">
      <tbody>
        <tr>
    
          <td><img class="card-img-top" src="../assets/img/si.png" alt="Card image cap"></td>
          <td><img class="card-img-top" src="../assets/img/no.png" alt="Card image cap"></td>
        </tr>
        <tr>
    
          <td>
            <div class="form-check form-check-inline">
             <label class="form-check-label" for="inlineRadio2">{{ lb_si }}</label>&nbsp;
             <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="seleccionar()" value="p5s" >
           </div>
         </td>
    
          <td>
            <div class="form-check form-check-inline">
             <label class="form-check-label" for="inlineRadio2">{{ lb_no }}</label>&nbsp;
             <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="seleccionar()" value="p5n">
           </div>
         </td>
    
        </tr>
    
      </tbody>
    
    </table>
    </div>
    </div>